* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 6px;
  margin-top: -1px;
  width: 1916px;
  height: 122px;
}
h1 {
  font-size: larger;
  text-decoration: none;
  color: black;
  margin-top: -30px;
  margin-left: 77px;
}

.logo img {
  width: 88px;
  height: 63px;
  margin-top: -8px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-top: -15px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 50px;
  padding: 20px;
}

.nav-links a:hover {
  color: red;
  border: 3px solid rgb(11, 15, 11);
  background: blanchedalmond;
  border-radius: 28px;
}

.yellow-text3:hover {
  color: green;
}

.title {
  background-color: #16212e;
  height: 859px;
  width: 1916px;
  margin-top: -18px;
}
h4 {
  margin-top: -64px;
  margin-left: 91px;
  font-size: 54px;
}
.ext1 {
  text-align: left;
  font-size: 64px;
  margin-top: -575px;
  margin-left: 171px;
  color: white;
}

.yellow-text {
  color: yellow;
}

.ext2 {
  text-align: left;
  font-size: 64px;
  margin-top: 3px;
  margin-left: 171px;
  color: white;
}

.yellow-text2 {
  color: yellow;
}

.ext3 {
  text-align: left;
  font-size: 64px;
  margin-top: 0px;
  margin-left: 171px;
  color: yellow;
}
.ext4 {
  text-align: left;
  font-size: 35px;
  margin-top: 0px;
  margin-left: 171px;
  color: white;
}

.hunger {
  border: 2px solid white;
  background-color: #202a44;
  color: white;
  border-radius: 4px;
  width: 152px;
  height: 41px;
  margin-top: 15px;
  margin-left: 171px;
}

.snack {
  margin-top: -292px;
  margin-left: 1165px;
  width: 625px;
  height: 525px;
  transform: translateX(0px);
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

.service {
  width: 1916px;
  height: 100vh;
  margin-top: -59px;
  background-image: url(servicebg.jpg);
  background-size: cover;
  background-position: center;
  /* opacity: 0.20; */
}
.s1 {
  font-weight: 100px;
  font-size: xx-large;
  margin-top: -908px;
  margin-left: 20px;
}

.good {
  color: red;
}

.ext5 {
  font-size: xx-large;
  margin-top: 5px;
  margin-left: 33px;
  font-weight: 100px;
}

.serve {
  color: orange;
}

.provide {
  font-size: xx-large;
  align-items: center;
  margin-top: 8px;
  font-weight: 100px;
  margin-left: 11px;
}
button {
  width: 361px;
  height: 72px;
  border-radius: 24px;
  margin-left: 766px;
  margin-top: 20px;
  cursor: pointer;
  transition: service 0.3s ease;
  background-color: rgb(97, 187, 223);
}
.provide:hover {
  color: yellow;
}

.delivery {
  border: 3px solid black;
  width: 450px;
  height: 403px;
  margin-top: 54px;
  margin-left: 723px;
  background-color: rgb(231, 236, 235);
}
.chief {
  width: 277px;
  height: 154px;
  margin-top: 20px;
  margin-left: 80px;
  justify-items: center;
}
.rj1 {
  font-size: xx-large;
  align-items: center;
  margin-top: 0px;
  margin-left: 95px;
}

.motive {
  font-size: larger;
  font-style: oblique;
  margin-top: 25px;
  margin-left: 25px;
}

.vegetrain {
  border: 3px solid black;
  width: 450px;
  height: 396px;
  margin-top: -394px;
  margin-left: 140px;
  background-color: rgb(231, 236, 235);
}
.rj2 {
  font-size: xx-large;
  align-items: center;
  margin-top: 0px;
  margin-left: 69px;
}

.chief1 {
  width: 277px;
  height: 154px;
  margin-top: 19px;
  margin-left: 80px;
  justify-items: center;
}

.quality {
  border: 3px solid black;
  width: 450px;
  height: 403px;
  margin-top: -398px;
  margin-left: 1286px;
  background-color: rgb(231, 236, 235);
}

.matter {
  width: 237px;
  height: 167px;
  margin-top: 3px;
  margin-left: 80px;
  justify-items: center;
}

.rj3 {
  font-size: xx-large;
  align-items: center;
  margin-top: 0px;
  margin-left: 69px;
}

.motive1 {
  font-size: larger;
  font-style: oblique;
  margin-top: 10px;
  margin-left: 25px;
}

.pen {
  margin-top: 25px;
  margin-left: 25px;
  width: 150px;
  height: 150px;
}

.cap {
  border: 3px solid black;
}

.ink {
  font-size: xx-large;
  font-style: normal;
  margin-top: 3px;
  margin-left: 25px;
}

/* /* .kfclogo{
  margin-top: 25px;
  margin-left: 25px;
} */
/* .cfk{
  width: 278px;
  height: 230px;
  margin-top: -100px;
  margin-left: 184px;
}

.bk {
  width: 201px;
  height: 266px;
  margin-top: -844px;
  margin-left: 584px;
}

.star{
  width: 25px;
  height: 25px;
  margin-top: 25px;
  margin-left: 25px;
} */
.logos {
  margin-left: 10px;
  margin-top: -125px;
  display: flex;
}
.kfclogo {
  margin-left: 10px;
  margin-top: 10px;
}

.cfk {
  margin-left: 10px;
  margin-top: 10px;
  width: 278px;
  height: 230px;
}

.bking {
  margin-left: 10px;
  margin-top: 10px;
}

.bk {
  height: 266px;
  width: 201px;
  margin-left: 103px;
  margin-top: -20px;
}

.starbucks {
  margin-left: 10px;
  margin-top: 10px;
}

.star {
  width: 148px;
  height: 139px;
  margin-left: 112px;
  margin-top: 61px;
}

.dominos {
  margin-left: 10px;
  margin-top: 10px;
}

.domo {
  width: 174px;
  height: 156px;
  margin-top: 53px;
  margin-left: 134px;
}

.momos {
  margin-left: 10px;
  margin-top: 10px;
}

.momo {
  width: 125px;
  height: 125px;
  margin-top: 64px;
  margin-left: 86px;
}

.md {
  margin-left: 10px;
  margin-top: 10px;
}

.mds {
  width: 155px;
  height: 125px;
  margin-left: 159px;
  margin-top: 62px;
}

.abt {
  margin-left: 10px;
  margin-top: 10px;
}

.bgpage {
  width: 1940px;
  height: 928px;
  margin-left: -1790px;
  margin-top: 213px;
}

.heading{
  margin-left: 10px;
  margin-top: 10px;
}

.header{
  font-size: xx-large;
  text-align: center;
  margin-left: -1355px;
  margin-top: -875px;
  color: black;
  font-weight: 100;
  font-style: oblique;
}

.header2{
  margin-left: -1265px;
  margin-top: 62px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique;
}
.header3{
  margin-left: -1265px;
  margin-top: 62px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique; 
}

.header4{
  margin-left: -1265px;
  margin-top: 62px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique; 
}



.header5{
  margin-left: -2440px;
  margin-top: 62px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique; 
}

.header6{
  margin-left: -2512px;
  margin-top: 769px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique; 
  height: 25px;
}
