* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 6px;
  margin-top: -1px;
  width: 1916px;
  height: 122px;
  /* position: fixed; */
}
h1 {
  font-size: larger;
  text-decoration: none;
  color: black;
  margin-top: -30px;
  margin-left: 77px;
}

.logo img {
  width: 88px;
  height: 63px;
  margin-top: -8px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-top: -15px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 50px;
  padding: 20px;
}

.nav-links a:hover {
  color: red;
  border: 3px solid rgb(11, 15, 11);
  background: blanchedalmond;
  border-radius: 28px;
}

.yellow-text3:hover {
  color: green;
}

.title {
  background-color: #16212e;
  height: 859px;
  width: 1916px;
  margin-top: -18px;
}
h4 {
  margin-top: -64px;
  margin-left: 91px;
  font-size: 54px;
}
.ext1 {
  text-align: left;
  font-size: 64px;
  margin-top: -575px;
  margin-left: 171px;
  color: white;
}

.yellow-text {
  color: yellow;
}

.ext2 {
  text-align: left;
  font-size: 64px;
  margin-top: 3px;
  margin-left: 171px;
  color: white;
}

.yellow-text2 {
  color: yellow;
}

.ext3 {
  text-align: left;
  font-size: 64px;
  margin-top: 0px;
  margin-left: 171px;
  color: yellow;
}
.ext4 {
  text-align: left;
  font-size: 35px;
  margin-top: 0px;
  margin-left: 171px;
  color: white;
}

.hunger {
  border: 2px solid white;
  background-color: #202a44;
  color: white;
  border-radius: 4px;
  width: 152px;
  height: 41px;
  margin-top: 15px;
  margin-left: 171px;
  cursor: pointer;
}
.hunger:hover {
  background-color: rgb(235, 96, 53);
}
.snack {
  margin-top: -292px;
  margin-left: 1165px;
  width: 625px;
  height: 525px;
  transform: translateX(0px);
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

.service {
  width: 1916px;
  height: 108vh;
  margin-top: -59px;
  background-image: url(servicebg.jpg);
  background-size: cover;
  background-position: center;
  /* opacity: 0.20; */
}
.s1 {
  font-weight: 100px;
  font-size: xx-large;
  margin-top: -999px;
  margin-left: 20px;
}

.good {
  color: red;
}

.ext5 {
  font-size: xx-large;
  margin-top: 5px;
  margin-left: 33px;
  font-weight: 100px;
}

.serve {
  color: orange;
}

.provide {
  font-size: xx-large;
  align-items: center;
  font-weight: 100px;
  cursor: pointer;
  width: 361px;
  height: 72px;
  border-radius: 24px;
  margin-left: 12px;
  margin-top: 9px;
  cursor: pointer;
  transition: service 0.3s ease;
}
.boxes {
  box-sizing: border-box;
  border: 2px solid black;
  width: 250px;
  height: 52px;
  margin-left: 865px;
  margin-top: 6px;
  background-color: bisque;
}

.boxes:hover {
  background-color: rgb(238, 67, 67);
}
/* .provide {
  width: 361px;
  height: 72px;
  border-radius: 24px;
  margin-left: 766px;
  margin-top: 20px;
  cursor: pointer;
  transition: service 0.3s ease;
  background-color: rgb(97, 187, 223);
} */
.provide:hover {
  color: yellow;
}

.delivery {
  border: 3px solid black;
  width: 450px;
  height: 403px;
  margin-top: 54px;
  margin-left: 723px;
  background-color: rgb(231, 236, 235);
}
.chief {
  width: 277px;
  height: 154px;
  margin-top: 20px;
  margin-left: 80px;
  justify-items: center;
}
.rj1 {
  font-size: xx-large;
  align-items: center;
  margin-top: 0px;
  margin-left: 95px;
}

.motive {
  font-size: larger;
  font-style: oblique;
  margin-top: 25px;
  margin-left: 25px;
}

.vegetrain {
  border: 3px solid black;
  width: 450px;
  height: 396px;
  margin-top: -394px;
  margin-left: 140px;
  background-color: rgb(231, 236, 235);
}
.rj2 {
  font-size: xx-large;
  align-items: center;
  margin-top: 0px;
  margin-left: 69px;
}

.chief1 {
  width: 277px;
  height: 154px;
  margin-top: 19px;
  margin-left: 80px;
  justify-items: center;
}

.quality {
  border: 3px solid black;
  width: 450px;
  height: 403px;
  margin-top: -398px;
  margin-left: 1286px;
  background-color: rgb(231, 236, 235);
}

.matter {
  width: 237px;
  height: 167px;
  margin-top: 3px;
  margin-left: 80px;
  justify-items: center;
}

.rj3 {
  font-size: xx-large;
  align-items: center;
  margin-top: 0px;
  margin-left: 69px;
}

.motive1 {
  font-size: larger;
  font-style: oblique;
  margin-top: 10px;
  margin-left: 25px;
}

.pen {
  margin-top: 67px;
  margin-left: 853px;
  width: 259px;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: cornsilk;
  cursor: pointer;
}

.pen:hover {
  background-color: crimson;
}

.ink {
  font-size: xx-large;
  font-style: normal;
  margin-top: 3px;
  margin-left: 25px;
  cursor: pointer;
}

.ink:hover {
  color: aliceblue;
}

/* /* .kfclogo{
  margin-top: 25px;
  margin-left: 25px;
} */
/* .cfk{
  width: 278px;
  height: 230px;
  margin-top: -100px;
  margin-left: 184px;
}

.bk {
  width: 201px;
  height: 266px;
  margin-top: -844px;
  margin-left: 584px;
}

.star{
  width: 25px;
  height: 25px;
  margin-top: 25px;
  margin-left: 25px;
} */
.logos {
  margin-left: 10px;
  margin-top: -39px;
  display: flex;
}
.kfclogo {
  margin-left: 10px;
  margin-top: 10px;
}

.cfk {
  margin-left: 10px;
  margin-top: 10px;
  width: 278px;
  height: 230px;
}

.bking {
  margin-left: 10px;
  margin-top: 10px;
}

.bk {
  height: 266px;
  width: 201px;
  margin-left: 103px;
  margin-top: -20px;
}

.starbucks {
  margin-left: 10px;
  margin-top: 10px;
}

.star {
  width: 148px;
  height: 139px;
  margin-left: 112px;
  margin-top: 61px;
}

.dominos {
  margin-left: 10px;
  margin-top: 10px;
}

.domo {
  width: 174px;
  height: 156px;
  margin-top: 53px;
  margin-left: 134px;
}

.momos {
  margin-left: 10px;
  margin-top: 10px;
}

.momo {
  width: 125px;
  height: 125px;
  margin-top: 64px;
  margin-left: 86px;
}

.md {
  margin-left: 10px;
  margin-top: 10px;
}

.mds {
  width: 155px;
  height: 125px;
  margin-left: 159px;
  margin-top: 62px;
}

.abt {
  margin-left: 10px;
  margin-top: 10px;
}

.bgpage {
  width: 1940px;
  height: 928px;
  margin-left: -1790px;
  margin-top: 213px;
}

.heading {
  margin-left: 10px;
  margin-top: 10px;
}

.header {
  font-size: xx-large;
  text-align: center;
  margin-left: -1355px;
  margin-top: -850px;
  color: black;
  font-weight: 100;
  font-style: oblique;
}

.header2 {
  margin-left: -1265px;
  margin-top: 62px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique;
}
.header3 {
  margin-left: -1265px;
  margin-top: 62px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique;
}

.header4 {
  margin-left: -1265px;
  margin-top: 62px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique;
}

.header5 {
  margin-left: -1887px;
  margin-top: 245px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique;
}

.header6 {
  margin-left: -2512px;
  margin-top: 769px;
  font-size: xx-large;
  text-align: center;
  color: black;
  font-weight: 100;
  font-style: oblique;
  height: 25px;
}

.contact {
  margin-left: 10px;
  margin-top: 10px;
}

.conus {
  width: 1916px;
  height: 100vh;
  margin-left: -10px;
  margin-top: 347px;
}

.abc {
  text-align: center;
  font-size: xx-large;
  font-style: initial;
  color: black;
  margin-top: -904px;
  margin-left: 115px;
}

.callheading1 {
  margin-left: 10px;
  margin-top: 10px;
}
.abc1 {
  text-align: center;
  font-size: xx-large;
  font-style: initial;
  color: black;
  margin-top: 310px;
  margin-left: -1134px;
}

.callbox {
  border: 3px solid black;
  background: border-box;
  height: 386px;
  width: 512px;
  margin-top: -157px;
  margin-left: 1249px;
  position: absolute;
}

.ads {
  font-size: x-large;
  color: black;
  margin-top: 10px;
  margin-left: -14px;
}

.asd {
  border-radius: 9px;
  width: 282px;
  height: 41px;
  margin-top: 12px;
  margin-left: 66px;
  text-align: center;
}

.abc2 {
  margin-left: 23px;
  margin-top: 10px;
}

.abc3 {
  margin-left: 33px;
  margin-top: 10px;
}

.asd1 {
  border-radius: 9px;
  width: 280px;
  height: 41px;
  margin-top: 12px;
  margin-left: 57px;
  text-align: center;
}

.ads1 {
  font-size: x-large;
  color: black;
  margin-top: 10px;
  margin-left: -25px;
}

.abc4 {
  margin-left: 33px;
  margin-top: 10px;
}

.asd2 {
  border-radius: 9px;
  width: 277px;
  height: 41px;
  margin-top: 12px;
  margin-left: 35px;
  text-align: center;
}

.ads2 {
  font-size: x-large;
  color: black;
  margin-top: 10px;
  margin-left: -27px;
}

.abc5 {
  margin-left: 33px;
  margin-top: 10px;
}

.asd3 {
  border-radius: 9px;
  width: 277px;
  height: 97px;
  margin-top: 12px;
  margin-left: 31px;
  text-align: center;
}

.ads3 {
  font-size: x-large;
  color: black;
  margin-top: 10px;
  margin-left: -23px;
}

.submit-btn {
  background-color: darksalmon;
  color: black;
  margin-top: 22px;
  margin-left: 202px;
  width: 137px;
  height: 29px;
  font-size: larger;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: darkseagreen;
}

.owner {
  margin-top: 259px;
  margin-left: 910px;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.owners {
  margin-top: -37px;
  margin-left: 1195px;
  font-size: xx-large;
}

.add {
  margin-top: 5px;
  margin-left: 910px;
  font-size: xx-large;
}

.ress {
  margin-top: -35px;
  margin-left: 1068px;
  font-size: xx-large;
}

.menubg {
  width: 1915px;
  height: 956px;
  margin-top: 25px;
  background-color: black;
  margin: 1px;
}

.head {
  margin-top: 10px;
  margin-left: 10px;
}

.azx {
  margin-top: 36px;
  margin-left: 881px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
  color: aliceblue;
  position: absolute;
}

.samo {
  width: 253px;
  height: 181px;
  margin-left: 45px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.menu1s:hover {
  background-color: rgb(236, 46, 62);
}

.menu1s {
  box-sizing: border-box;
  border: 1px solid black;
  width: 353px;
  height: 289px;
  /* padding-top: 5px; */
  margin-left: 87px;
  position: absolute;
  margin-top: 130px;
  background-color: aliceblue;
}

.nm1 {
  margin-top: -2px;
  margin-left: 115px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pc1 {
  margin-top: -5px;
  margin-left: 127px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.panipuri {
  width: 253px;
  height: 181px;
  margin-left: 45px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.menu2s:hover {
  background-color: rgb(20, 85, 20);
}
.menu2s {
  box-sizing: border-box;
  border: 1px solid black;
  width: 353px;
  height: 289px;
  /* padding-top: 5px; */
  margin-left: 543px;
  position: absolute;
  margin-top: 130px;
  background-color: aliceblue;
}

.nm2 {
  margin-top: -2px;
  margin-left: 115px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pc2 {
  margin-top: -5px;
  margin-left: 132px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.noodles {
  width: 253px;
  height: 181px;
  margin-left: 45px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.menu3s:hover {
  background-color: rgb(102, 113, 218);
}
.menu3s {
  box-sizing: border-box;
  border: 1px solid black;
  width: 353px;
  height: 289px;
  /* padding-top: 5px; */
  margin-left: 1003px;
  position: absolute;
  margin-top: 130px;
  background-color: aliceblue;
}

.nm3 {
  margin-top: -2px;
  margin-left: 81px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pc3 {
  margin-top: -5px;
  margin-left: 132px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ff {
  width: 253px;
  height: 181px;
  margin-left: 45px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.menu4s:hover {
  background-color: rgb(207, 231, 71);
}

.menu4s {
  box-sizing: border-box;
  border: 1px solid black;
  width: 353px;
  height: 289px;
  /* padding-top: 5px; */
  margin-left: 1467px;
  position: absolute;
  margin-top: 130px;
  background-color: aliceblue;
}

.nm4 {
  margin-top: -2px;
  margin-left: 98px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pc4 {
  margin-top: -5px;
  margin-left: 132px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bbq {
  width: 253px;
  height: 181px;
  margin-left: 45px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.menu5s:hover {
  background-color: rgb(236, 172, 241);
}
.menu5s {
  box-sizing: border-box;
  border: 1px solid black;
  width: 353px;
  height: 289px;
  /* padding-top: 5px; */
  margin-left: 1467px;
  position: absolute;
  margin-top: 443px;
  background-color: aliceblue;
}

.nm5 {
  margin-top: -2px;
  margin-left: 116px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pc5 {
  margin-top: -5px;
  margin-left: 132px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pasta {
  width: 253px;
  height: 181px;
  margin-left: 45px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.menu6s:hover {
  background-color: rgb(72, 230, 208);
}

.menu6s {
  box-sizing: border-box;
  border: 1px solid black;
  width: 353px;
  height: 289px;
  /* padding-top: 5px; */
  margin-left: 1003px;
  position: absolute;
  margin-top: 444px;
  background-color: aliceblue;
}

.nm6 {
  margin-top: -2px;
  margin-left: 81px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pc6 {
  margin-top: -5px;
  margin-left: 132px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pav {
  width: 253px;
  height: 181px;
  margin-left: 45px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.menu7s:hover {
  background-color: rgb(255, 154, 114);
}

.menu7s {
  box-sizing: border-box;
  border: 1px solid black;
  width: 353px;
  height: 289px;
  /* padding-top: 5px; */
  margin-left: 543px;
  position: absolute;
  margin-top: 442px;
  background-color: aliceblue;
}

.nm7 {
  margin-top: -2px;
  margin-left: 115px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pc7 {
  margin-top: -5px;
  margin-left: 132px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sin {
  width: 253px;
  height: 181px;
  margin-left: 45px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.menu8s:hover {
  background-color: rgb(202, 73, 138);
}
.menu8s {
  box-sizing: border-box;
  border: 1px solid black;
  width: 353px;
  height: 289px;
  /* padding-top: 5px; */
  margin-left: 87px;
  position: absolute;
  margin-top: 441px;
  background-color: aliceblue;
}

.nm8 {
  margin-top: -2px;
  margin-left: 84px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pc8 {
  margin-top: -5px;
  margin-left: 127px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
